<h2>Sign Up</h2>
<br>

<form method="POST" action="<%= users_url %>">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label>User Name
    <input type="text" name="user[user_name]">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>
  <button type="submit">Sign Up</button>
</form>
